# Grub2 File Manager ile ventoy dan önyükleme menüsü için

function g2fm_ventoy {
    if [ "${vtoy_iso_part}${vt_chosen_path}" ]; then
            regexp -s name_ext '.*\.(.*)' "${vtoy_iso_part}${vt_chosen_path}"
                if regexp '^[eE][fF][iI]$' $name_ext; then
                        set ventoy_img_count=0
                        vt_list_img $vtoy_iso_part ventoy_img_count
                        vt_set_fake_vlnk "${vtoy_iso_part}${vt_chosen_path}" efi $vt_chosen_size $vt_chosen_name
                        efi_common_menuentry
                        vt_reset_fake_vlnk
                elif regexp '^[cC][fF][gG]$' $name_ext; then
                        configfile "($user)$1"
                elif regexp '^[wW][iI][mM]$' $name_ext; then
                        set ventoy_img_count=0
                        vt_list_img $vtoy_iso_part ventoy_img_count
                        vt_set_fake_vlnk "${vtoy_iso_part}${vt_chosen_path}" wim $vt_chosen_size $vt_chosen_name
                        wim_common_menuentry
                        vt_reset_fake_vlnk
                elif regexp '^[vV][hH][dD][xX]?$' $name_ext; then
                        vhdboot_common_func "($user)$1"
                elif regexp '^[iI][sS][oO]$' $name_ext; then
                        set ventoy_img_count=0
                        vt_list_img $vtoy_iso_part ventoy_img_count
                        vt_set_fake_vlnk "${vtoy_iso_part}${vt_chosen_path}" iso $vt_chosen_size $vt_chosen_name
                        iso_common_menuentry
                        vt_reset_fake_vlnk
                elif regexp '^[iI][mM][gG]$' $name_ext; then
                        set ventoy_img_count=0
                        vt_list_img $vtoy_iso_part ventoy_img_count
                        vt_set_fake_vlnk "${vtoy_iso_part}${vt_chosen_path}" img $vt_chosen_size $vt_chosen_name
                        if "$2"="-m"; then
                        mimg_common_menuentry
                        else
                        img_common_menuentry
                        fi
                        vt_reset_fake_vlnk
                fi
    else
        echo "$1 not found"
    fi
}

set vtoy_iso_part="phanvung"
set vt_chosen_path="duongdan"
set vt_chosen_name="tenfile"
set vt_chosen_size="cofile"
g2fm_ventoy
