# özel gereksinim

for dev in (*); do
  test -e ${dev}
  if test "$?" = "1"; then
  continue
  fi
  regexp --set=device '\((.*)\)' $dev
	probe -f -s fstype $device

	if [ -z "$fstype" ] -o [ "$fstype" == "procfs" ] -o [ "$fstype" == "pyfs" ]; then continue; fi
	probe -s vollabel -l $device
	probe -s voluuid -u $device
	if [ -z "$vollabel" ]; then set vollabel="${noname}"; fi

	regexp -s 1:disknum -s 2:partnum "hd([0-9]+),${scheme}([0-9]+)" "${device}"
		set num=${partnum}
		decr="" ; for x in 0,1 1,2 2,3 3,4 4,5 5,6 6,7 7,8 8,9 9,10 10,11 11,12 ; do 
		regexp --set=1:decr "([0-9]+),${num}" "${x}"
		if [ "$decr" != "" ] ; then
			num=${decr}
			break 
		fi
    		done
  set partnum=${num}

if [ "(${device})" = "(hd0,msdos1)" ] -o [ "(${device})" = "(hd0,msdos2)" ]; then
  set two="usb"
else
  set two="hdd"
fi

if [ "(${device})" != "(vt_menu_tarfs)" ]; then
  submenu "${two} => (${device}) - [${vollabel}] - [${fstype}]" $device --class=${two} {
    set gfxmode=$vtCurMode
    terminal_output gfxterm
    vt_set_theme
    vt_browser_fm
    vt_browser_dir ${2} ${bs} /

  search -n -f --set=ventoy /ventoy/ventoy.cpio
    if [ "$grub_platform" = "efi" ]; then
      unset VTOY_SEARCH_NO_VTOYEFI
      terminal_output  console
      chainloader /efi/boot/ventoy${VTOY_EFI_ARCH}.gz.efi
    else
      set root=${ventoy}
      regexp --set=1:vtdisk '(hd[0-9]+)[0-9,]*' "${ventoy}"
      chainloader (${vtdisk})+1
      unset VTOY_SEARCH_NO_VTOYEFI
    fi
  }
fi

unset vollabel
unset voluuid
unset fstype
done
