#özel gereksinim
if [ "$grub_platform" = "pc" ]; then
    set grub_secureboot="Not available"
  elif vt_check_secureboot_var; then
    set grub_secureboot="Enabled"
  else
    set grub_secureboot="Disabled"
fi

set system_vendor="-"
smbios -t 1 -s 0x04 --set=system_vendor
set system_version="-"
smbios -t 1 -s 0x06 --set=system_version
